.homeParentContainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

.nameContainer {
  width: 40%;
}
.name {
  font-size: 60px;
  color: #3772ff;
}
.slogan {
  font-size: 32px;
  font-weight: 500;
  margin: 20px 0;
}
.designation {
  text-align: end;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
}
.buttonContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 40px;
}
.resumeButton {
  background-color: transparent;
}

.resumeButton:hover {
  background-color: #3772ff;
  color: white;
  transition: all 0.3s linear;
  border-style: none;
  border: 2px solid;
}

.resumeButton:active {
  background-color: #0d49d4;
  transform: scale(0.99);
}

.projectsButton {
  background-color: #3772ff;
  color: white;
  border-color: #ccedff;
  border-style: none;
}

.projectsButton:hover {
  box-shadow: 0px 0px 7px rgb(80, 79, 79);
}

.projectsButton:active {
  background-color: #0d49d4;
  transform: scale(0.99);
}

.resumeButton,
.projectsButton {
  font-size: 24px;
  padding: 10px 30px;
  border-radius: 8px;
  margin-right: 30px;
}

.image {
  width: 600px;
  margin: 0 30px;
}

@media screen and (max-width: 1200px) {
  .name {
    font-size: 46px;
  }
  .image {
    width: 290px;
    height: 290px;
  }
  .slogan {
    font-size: 24px;
  }
  .designation {
    font-size: 24px;
  }
}

@media screen and (max-width: 780px) {
  .nameContainer {
    width: 90%;
    margin-bottom: 90px;
  }
  .name {
    font-size: 35px;
  }
  .name,
  .slogan,
  .designation {
    text-align: center;
  }
  .image {
    width: 220px;
    height: 220px;
    margin-top: 40px;
  }
  .slogan,
  .designation {
    font-size: 22px;
  }
  .resumeButton,
  .projectsButton {
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 8px;
    margin-right: 20px;
  }
}
