.skillsParentContainer {
  height: 100vh;
  flex-wrap: wrap;
}

.skillsParentContainer,
.detailsContainer,
.titleSection,
.iconContainer,
.cardTitleContainer {
  display: flex;
}

.skillsParentContainer,
.titleSection {
  justify-content: space-between;
  align-items: center;
}
.titleSection,
.detailsContainer {
  flex-direction: row;
}

.titleContainer {
  flex: 1;
}
.title {
  font-size: 75px;
  color: #3772ff;
  letter-spacing: 2px;
  text-align: center;
}
.detailsContainer {
  background-color: #d7f1ff;
  width: 75%;
  flex-wrap: wrap;
  padding: 90px 140px;
  border-radius: 45px 0px 0px 45px;
  justify-content: space-around;
}

.cardContainer {
  background-color: #b5e5ff;
  border-radius: 20px;
  padding: 50px 0px;
}
.cardTitleContainer,
.iconContainer {
  background-color: #3772ff;
  padding: 15px;
  align-items: center;
  justify-content: center;
  color: white;
}

.cardTitles {
  font-weight: 700;
  font-size: 28px;
  margin-right: 30px;
}
.iconContainer {
  border-radius: 100px;
  margin-right: 30px;
  width: 60px;
  height: 60px;
}
.cardTitleContainer {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.listItems {
  padding: 20px 40px;
}

.listItems li {
  font-size: 22px;
}

@media screen and (max-width: 1250px) {
  .skillsParentContainer {
    justify-content: space-evenly;
  }

  .title {
    font-size: 65px;
  }
  .detailsContainer {
    width: 70%;
    padding: 20px 80px;
    margin-top: 60px;
    border-radius: 45px 0px 0px 45px;
    justify-content: space-between;
  }

  .cardContainer {
    padding: 40px 0px;
    width: 700px;
    margin-bottom: 20px;
  }
  .cardTitleContainer,
  .iconContainer {
    padding: 8px;
  }

  .cardTitles {
    font-weight: 700;
    font-size: 25px;
    margin-right: 30px;
  }
  .iconContainer {
    width: 45px;
    height: 45px;
  }

  .listItems {
    padding: 10px 40px;
  }

  .listItems li {
    font-size: 18px;
  }
}

@media screen and (max-width: 1533px) {
  .detailsContainer {
    flex-wrap: nowrap;
  }
  .cardContainer {
    margin-right: 10px;
  }
}

@media screen and (max-width: 530px) {
  .title {
    font-size: 55px;

    margin: 90px 30px 0;
  }
  .detailsContainer {
    width: 95%;
    flex-wrap: wrap;
    padding: 20px 30px;
    margin: 0px;
    border-radius: 35px;
  }

  .cardContainer {
    padding: 30px 0px;
    width: 100%;
    margin-bottom: 20px;
  }
  .cardTitleContainer,
  .iconContainer {
    padding: 8px;
  }

  .cardTitles {
    font-weight: 700;
    font-size: 22px;
    margin-right: 30px;
  }
  .iconContainer {
    width: 45px;
    height: 45px;
  }

  .listItems {
    padding: 10px 30px;
  }

  .listItems li {
    font-size: 16px;
  }
}
