* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentContainer {
  display: flex;
  justify-content: space-around;
  height: 120px;
  background-color: #ccedff;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.desktop-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 75%;
}

.tabText {
  text-decoration: none;
}

.active li {
  background-color: #3772ff;
  border-radius: 20px;
  color: white;
}

.buttonText {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0px 10px;
  color: #343434;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s linear;
}

.buttonText:hover {
  border-radius: 20px;
  text-decoration: underline;
  text-decoration-color: #3772ff;
  text-decoration-thickness: 3px;
  transition: all 0.5s linear;
}

.mobile-nav-button {
  display: none;
}

.pageNumber {
  font-size: 30px;
  letter-spacing: 5px;
}
.betaSection {
  display: none;
}

@media only screen and (max-width: 780px) {
  .parentContainer {
    height: 70px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .parentContainer,
  .betaSection {
    box-shadow: 0px 0px 8px rgb(134, 130, 130);
    position: fixed;
    width: 100%;
  }

  .desktopBetaSection {
    display: none;
  }

  .betaSection {
    background-color: #ccedff;
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    align-items: center;
    z-index: 4000;
  }

  .pageNumber {
    font-size: 23px;
  }

  .desktop-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
  }

  .buttonText {
    font-size: 16px;
    color: #343434;
    text-align: center;
    padding: 6px 7px;
    margin: 0 3px;
    transition: all 0.5s linear;
  }
}

.betaTag {
  background-color: #3772ff;
  color: #fff;
  text-align: center;
  padding: 4px 10px;
  border-radius: 10px;
}
